<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrackingFitness.Properties.Settings._TrackingFitness_DBConnectionString"
            connectionString="Data Source=HP-R5-HOME-21H2;Initial Catalog=_TrackingFitness_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>